@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');
:root {
    --primary-color:#7C3AED;
    --dark-gray:#6B7280;
    --off-white:#F3F4F6;
    
}


body{
    font-family: 'Montserrat', 
    sans-serif;
    margin: 0px;
}



.container
{
    padding-left: 1rem;
    padding-right: 1rem;
}


.container-center
{
    max-width: 600px;
    margin: auto;
}



/**links**/
.link 
{   box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.link-primary
{
    background-color: var(--primary-color);
    border-radius: 00.5rem;
    color: white;
}


.link-secondary
{
    color: var(--primary-color);
    border-radius: 00.5rem;
    border: 1px solid var(--primary-color);
}


.list-non-bullet 
{
    list-style: none;
}


.list-item-inline
{
display: inline;
padding: 0rem 0.5rem;
}


.navigation
{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}


.navigation .nav-brand
{
    font-weight: bold;
    font-size: medium;
}


.navigation .nav-pills
{
    text-align: right;
}


.navigation .link
{
    color: white;
}


.navigation .link-active
{
    font-weight: bold;
}

.hero
{
    padding: 2rem;
   
}

.hero .hero-img
{
    max-width: 350px;
    display: block;
    margin: auto;
    
}

.hero .hero-heading
{   
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);

}

.hero .hero-heading .heading-inverted
{
    color: var(--primary-color);
}
.section
{
    padding: 2rem;
}

.section h1
{
  text-align: center;
  padding: 2rem;
}

.off
{
    background-color: var(--off-white);
}

.footer
{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link{
    color: white;
}

footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding-inline-start: 0px;
}